@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
/*
    font-family: 'Open Sans', sans-serif;
*/
$bg-main : #161920;
$bg-secondary: #1F232E;
$bg-border: #292E3D;
$half-rem: 0.5rem;
$auto-margin: 0 auto;
$font: 'Open Sans',
sans-serif;
$font-color: white;

@mixin justify-center {
    display: flex;
    justify-content: center;
}

@mixin font-titles {
    font-family: 'Open Sans', sans-serif;
    color: $font-color;
}

* {
    //reset
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-main;
}

/*title and final <P>*/
.title {
    margin: 1rem;
    @include justify-center;
    @include font-titles;
    font-size: 2rem;
}

/*form starts*/
.form {
    // margin: $auto-margin;
    width: 30%;
    height: auto;
    background-color: $bg-secondary;
    border-radius: 0.25rem;
    border: solid 3px $bg-border;
    box-shadow: 0px 0px 5px $bg-border;
    @include font-titles;
}

.form__field {
    //form texts
    font-size: 2rem;
    color: $font-color;
    background-color: $bg-secondary;
    padding: 1rem;
}

input,
select {
    margin: $half-rem 0 $half-rem 0;
    appearance: textfield;
    background-color: #c7d5e0;
    font-family: 'Open Sans', sans-serif;
    @include justify-center;
}

.form__label {
    //form labels and button 
    @include justify-center;
    background-color: $bg-secondary;
    padding: $half-rem;
}

.form__input {
    margin: $auto-margin;
    // min-width: 25rem;
    height: 2rem;
    background-color: $bg-secondary;
    border-style: none;
    border-bottom: solid 3px $bg-border;
    color: $font-color;
    font-size: 1rem;
    outline: 0;
    border-radius: 0.25rem;
}

.form__input:focus {
    outline: $bg-border solid;

}

option {
    background-color: $bg-secondary;
}

.btnn {
    //calcular button
    padding: 0.65rem;
    font-size: 1.25rem;
    background-color: $bg-border;
    color: $font-color;
    border: solid 3px $bg-main;
    border-radius: 1rem;
    cursor: pointer;
}

.btnn:hover {
    background-color: $bg-main;
    border: solid 3px $bg-border;
}

.btnn:active {
    position: relative;
    top: 1px;
}

/*form ends*/

/*error alert starts*/
.sweetError {
    background-color: #161920;
    color: $font-color;
    font-family: 'Open Sans', sans-serif;
}

.swal2-x-mark {
    border-radius: 50%;
}

/*error alert ends*/

/*weather starts*/
.weather {
    position: absolute;
    top: 0;
    right: 0;
    color: $font-color;
    margin-right: $half-rem;
}

.weather__city {
    font-family: $font;
    font-size: 1.2rem;
}

.weather__temp {
    font-family: $font;
    font-size: 2rem;
    text-align: center;
}

.weather__icon {
    margin-right: $half-rem;
}

/*weather ends*/

/*history starts*/
.history__btn {
    @extend .btnn;
    width: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.history__text {
    width: fit-content;
    font-family: $font;
    font-size: 1.5rem;
    color: $font-color;
}

/*history ends*/

@media screen and (max-width: 900px) {
    .form {
        width: 90%;
    }

    .form__label,
    .title {
        font-size: 1rem;
    }

    .weather {
        position: static;
        text-align: center;
        margin-top: 34%;
    }

    .history__text {
        font-size: 0.9rem;
    }
}